<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="flex">
      <div class="flex-50 left">
        <a href="#" class="logo">Home</a>
      </div>
      <div class="flex-50 right">
        <a href="/users/register" class="btn">Register</a>
        <a href="/users/login" class="btn">Login</a>
      </div>
    </header>
  </body>
</html>
