<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <a href="/" class="logo">Home</a>
    </header>
    <section class="container center">
      <h1>Welcome to E-Commerce App</h1>
      <h2>What are you?</h2>

      <a href="/users" class="btn btn2">User</a>

      <a href="/admin" class="btn btn2">Admin</a>
    </section>
  </body>
</html>
