<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="flex">
      <div class="flex-50">
        <a href="/" class="logo">Home</a>
      </div>
      <div class="flex-50 right">
        <a href="/users/register" class="btn">Register</a>
        <a href="/users/login" class="btn">Login</a>
      </div>
    </header>
    <section class="container center">
      <h1>Welcome to E-Commerce App</h1>
      <a href="/products" class="btn btn2">View Products</a>
    </section>
  </body>
</html>
