<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <title>Login User</title>
  </head>
  <body class="center">
    <header class="flex">
      <div class="flex-50 left">
        <a href="/" class="logo">Home</a>
      </div>
      <div class="flex-50 right">
        <a href="/" class="btn">Back</a>
      </div>
    </header>
    <h1>Login User</h1>
    <form action="/users/login" method="POST" class="form">
      <% if(error) { %>
      <p><%= error %></p>
      <% } %>
      <input
        type="email"
        name="email"
        placeholder="Email"
        class="form-control"
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
        class="form-control"
      />
      <input type="submit" value="Login" class="btn btn2" />
    </form>
  </body>
</html>
