<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="flex">
      <div class="flex-50 left">
        <a href="/" class="logo">Home</a>
      </div>
      <div class="flex-50 right">
        <a href="/users/login" class="btn">Back</a>
      </div>
    </header>
    <section class="container center">
      <h1>User logged in succesfully!</h1>
    </section>
  </body>
</html>
