<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <title>Articles List</title>
  </head>
  <body>
    <header class="flex">
      <div class="flex-50 left">
        <a href="/" class="logo">Home</a>
      </div>
      <div class="flex-50 right">
        <a href="/articles/new" class="btn">Add Article</a>
      </div>
    </header>
    <div class="container center">
      <h1>Article List</h1>

      <% articles.forEach(article => { %>
      <a href="/articles/<%= article.slug %>"><h2><%= article.title %></h2> </a>
      <% }) %>
    </div>
  </body>
</html>
