<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="flex">
      <div class="flex-50 left">
        <a href="#" class="logo">Home</a>
      </div>
      <div class="flex-50 right">
        <a href="/users/register" class="btn">Register</a>
        <a href="/users/login" class="btn">Login</a>
        <a href="/users/logout" class="btn">Logout</a>
      </div>
    </header>
    <section class="container center">
      <h1>Welcome to Blog App</h1>
      <section class="container center">
        <div>
          <a href="/articles/new" class="btn btn2">Add Article</a>
        </div>
        <div>
          <a href="/articles" class="btn btn2">View Articles</a>
        </div>
      </section>
    </section>
  </body>
</html>
